{
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "brace-style": [2, "stroustrup"],
    "no-console": 0,
    "padded-blocks": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "spaced-comment": 1
  },
  "extends": "airbnb/base"
}
