@import "variables";

@import "github-ribbon";
@import "footer";
@import "logos";

html {
  font-family: Arial,sans-serif;
}

h1,
h2,
h3,
h5,
h6 {
  color: $brand-primary;
}

a {
  color: $brand-primary;
}

img.aligncenter {
  display: block;
  margin: 5px auto;
}

img.size-full {
  height: auto;
  max-width: 100%;
}

@media screen and (min-width:800px) {
  p.crop {
    width: 90%;
  }
}

.clearfix {
  clear: both;
}

img.logo {
  transition: opacity 0.5s;
}

img.logo:hover {
  opacity: 0.4;
}
